.icon {
    display: inline-block;
    flex-shrink: 0;
    background-repeat: no-repeat;
}

.icon-image {
    background-position: center;
    background-size: contain;
}

.icon-sprite {
    background-image: url('/src/assets/icons/Icon.svg');
}

.icon-sprite-white {
    filter: brightness(0) invert(0.9);
}

.all-app-icon {
    background-position: -28px -477px;
    width: 16px;
    height: 16px;
}

.settings-icon {
    background-position: -122px -475px;
    width: 20px;
    height: 20px;
}

.payroll-logo-icon {
    background-image: url('/src/assets/icons/header/icon-payroll-logo.svg');
    width: 32px;
    height: 32px;
}

.assistant-icon {
    background-image: url('/src/assets/icons/header/payroll_agent-d_2srbQV.png');
}

.megaphone-icon {
    background-position: -338px -596px;
    width: 21px;
    height: 19px;
}

.message-icon {
    background-image: url('/src/assets/icons/header/message.svg');
}

.bell-icon {
    background-position: -50px -475px;
    width: 20px;
    height: 21px;
}

.help-icon {
    background-position: -74px -475px;
    width: 20px;
    height: 20px;
}

.more-icon {
    background-position: -98px -475px;
    width: 20px;
    height: 20px;
}

.guide-icon {
    background-image: url('/src/assets/icons/header/guide.svg');
}

.profile-p1-icon {
    background-image: url('/src/assets/icons/header/profile-p1.svg');
}

.search-icon {
    background-image: url('/src/assets/icons/header/search.svg');
}

.sidebar-home-icon {
    background-position: 0 -777px;
    width: 20px;
    height: 20px;
}

.sidebar-database-icon {
    background-position: -20px -777px;
    width: 20px;
    height: 20px;
}

.sidebar-math-icon {
    background-position: -40px -777px;
    width: 20px;
    height: 20px;
}

.sidebar-moneybag-icon {
    background-position: -60px -777px;
    width: 20px;
    height: 20px;
}

.sidebar-chart-icon {
    background-position: -80px -777px;
    width: 20px;
    height: 20px;
}

.sidebar-template-icon {
    background-position: -100px -777px;
    width: 20px;
    height: 20px;
}

.sidebar-comp-icon {
    background-position: -120px -777px;
    width: 20px;
    height: 20px;
}

.sidebar-collapse-icon {
    background-position: -160px -777px;
    width: 20px;
    height: 20px;
}

.sidebar-chevron-right {
    background-position: -186px -781px;
    width: 8px;
    height: 12px;
}

.sidebar-menu-icon-default {
    filter: brightness(0) saturate(100%) invert(44%) sepia(4%) saturate(346%) hue-rotate(179deg) brightness(91%) contrast(85%);
}

.sidebar-menu-icon-active {
    filter: brightness(0) saturate(100%) invert(48%) sepia(67%) saturate(471%) hue-rotate(91deg) brightness(89%) contrast(87%);
}

.salary-composition-filter-icon {
    background-position: -22px -2px;
    width: 16px;
    height: 16px;
}

.salary-system-category-icon {
    background-position: -262px -102px;
    width: 16px;
    height: 16px;
}

.salary-add-icon {
    background-position: -222px -2px;
    width: 16px;
    height: 16px;
}